.product {
  display: flex;
  flex-direction: column;
  background: #fff;
}
.product__image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin: 0 auto;
}
.product__info > button {
  font-size: 14px;
  background-color: #643E03;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
}